.email-input {
  background: transparent;
  border: none;
  border-bottom: solid;
  border-bottom-color: white;
  width: 90%;
  color: white;
  padding: 10px;
  font-size: 20px;
}

.email-input:focus {
  outline: none;
}

.contact-text {
  color: white;
  text-align: left;
  padding: 10px;
  padding-top: 30px;
}

.contact-container {
  width: 50%;
  margin: auto;
  position: relative;
}

.btn-contact {
  width: 100%;
  font-size: 20px;
}

.btn-contact-container {
  width: 300px;
  margin: auto;
  padding: 30px;
}


.stamp-img {
  position: absolute;
  top: 15%;
  right: 10%;
  
}

/* @media (min-width: 430px) {
  .btn-contact-container {
    width: 300px;
  }
} */

/* laptop size and down*/
@media (max-width: 1024px) {
  .stamp-img {
    right: 3%;
  }
}

/* large mobile and down */
@media (max-width: 430px) {
  .stamp-img {
    visibility: hidden;
  }

  .btn-contact-container {
    margin-left: -30%;
  }
}

.g-recaptcha {
  margin: auto;
  padding-top: 1rem;
}
