div.container {
  max-width: none;
  padding: 0 0 0 0;
}

.section-black,
.section-purple {
  width: 100%;
  position: relative;
  overflow-y: hidden;
}

.section-black {
  background-color: black;
}

.section-purple {
  background-color: #350b4d;
  text-align: justify;
}

.team-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 8px;
}

.grid-container-home {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(2, 300px);
  padding: 20px 10% 20px 10%;
}

.grid-item-home {
  padding: 20px;
  text-align: center;
}

.text {
  color: white;
}

.slideshow-container {
  background-size: cover;
  text-align: center;
  width: 100%;
  position: relative;
  max-height: 90vh;
  overflow-y: hidden;
  padding: 0;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.8);
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

.home-title {
  font-size: 5em;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-sub-title {
  text-align: center;
  color: white;
}

@media (max-width: 430px) {
  .home-sub-title {
    font-size: 1.2em;
  }

  .home-title {
    font-size: 2.7em;
    padding-bottom: 5px;
  }
}