@font-face {
    font-family: Nexa Bold;
    src: url(./Nexa/Nexa/Nexa_V2_2020/WEB/NexaTextDemo-Bold.woff);
}
@font-face {
    font-family: Nexa Light;
    src: url(./Nexa/Nexa/Nexa_V2_2020/WEB/NexaTextDemo-Light.woff);
}


