.divBlack, .divPurple {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    font-family: "Nexa Light";
    min-height:600px;
    padding-bottom: 20px;
}

.divBlack {
    background-color:black;
}

.divPurple {
    background-color:#350B4D;
}